<div class="navbar bg-base-200">
  <a class="btn btn-ghost text-xl" href="/">Climate Solutions</a>
  <div class="flex-1"></div>
  <a class="btn btn-ghost <%= (page == "/") ? 'active' : '' %>" href="/">Home</a>
  <a class="btn btn-ghost <%= (page == "/solutions/projects") ? 'active' : '' %>" href="/solutions/projects">View Projects</a>
  <a class="btn btn-ghost <%= (page == "/about") ? 'active' : '' %>" href="/about">About</a>
</div>
